@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

#toast {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999999;
}

.toast {
    --primary: #333;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 80px;
    max-width: 500px;
    min-width: 400px;
    transition: all 0.2s ease;
}

.toast:not(:first-of-type) {
    margin-top: 16px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast.toast--success {
    --primary: #20A779;
}

.toast.toast--warning {
    --primary: #F0A72C;
}

.toast.toast--error {
    --primary: #fc0a0ab7;
}

.toast.toast--info {
    --primary: #007BC3;
}

.toast__bar {
    width: 4px;
    border-radius: 30px;
    height: 100%;
    background-color: var(--primary);
}

.toast__icon {
    padding: 0 10px;
}

.toast__icon i {
    font-size: 30px;
    color: var(--primary);
}

.toast__body {
    flex: 1;
}

.toast__body h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

.toast__body p {
    font-size: 16px;
    color: #888;
    margin: 0 !important;
}

.toast__close {
    padding: 8px 12px;
    margin-left: 8px;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    opacity: 0.6;
}

.toast__close:hover {
    opacity: 1;
}