:root {
    --primary-color: #FED700;
    --title-color: #0062bd;
    --sub-title-color: #878787;
    --link-color: #333E48;
    --text-color: #333E48;
    --border-color: #dddddd;
    --background-color: #ffffff;
    --disable-color: #848484;
    --colorful-color: #dc3545;
    --shadow-color: #c6c6c6;
    --background-dark: #F8F8F8;
}